*{
  font-style: oblique;
  font-family:sans-serif;
}



.container {
  margin-top:2% !important;

    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    /*margin-right: 5% !important;
    margin-left: 5% !important;
    padding-top: 3% !important;*/

    background-image: url(../images/topbg.jpg);

}


#whiteBlock{
  margin: 10px;
  padding:5%;

      background-color: #ffffff;

      color:black;
      font-weight: bold;
  color: #000000;
    opacity:0.9;
      text-align: center;

}

#whiteBlock div h4 h5 p{
  font-weight:bold;
    color:#000000;
}

.card-header {
  background-color: gold;

}

.header{
  padding-bottom: 3%;
   background-image: url(../images/2mp.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;


}

#videoBlock{
  margin-bottom: 10%;
}

.nav{
  margin-top:1%;
  font-size: 32px;


}

.nav a{
  color:gold;
}



.footer{
  text-align: center;
  margin-top: 5%;
    margin-bottom:5% !important;
    padding:2%;
    margin-left: 3%;
    margin-right: 3%;

}

#mainTxtTop{
  font-size: 36px;
  font-family: 'Lobster', 'cursive' !important;
  font-family color:pink;

}

.mainTxtTop{
  font-size: 36px;
  font-family: 'Lobster', 'cursive' !important;
  color:pink;

}

.bio{
  text-align: justify;
  font-size: 20px;
  font-style: italic;
  padding: 5%;
}


.jumbotron {

  margin:1%;


}
.jumbotron .cont {
  color:red;
  font-size: 20px;
  font-weight: bold;
  position:relative;
  text-align: center;


}
